* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}

a {

    color: inherit; /* Цвет ссылок становится таким же, как цвет родительского элемента */
    text-decoration: none; /* Убираем подчёркивание */
    background-color: transparent; /* Фон прозрачный, чтобы не выделяться */
    cursor: pointer; /* Оставляем указатель, чтобы было понятно, что ссылка кликабельна */
}

body {
    background-color: #1E1E20;
    color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    // font-size: 5rem;
}

$akcent: #D71E09;

// -----------------------------------------------------------------------------

.sidenav {
    position: fixed;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    border-right: calc(var(--index) * .1) solid rgb(39, 39, 39);
    z-index: 4;
    grid-column: 1;
    transition: 1s cubic-bezier(0.98, 0.1, 0.3, 0.9);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sidenav__logo {
            display: flex;
            justify-content: center;
            padding: calc(var(--index) * .7) calc(var(--index) * 1);
            gap: calc(var(--index) * .4);
            border-bottom: calc(var(--index) * .1) solid rgb(39, 39, 39);
            border-top: calc(var(--index) * .1) solid rgb(39, 39, 39);

            .logo-image {
                width: calc(var(--index) * 2.2);
                height: calc(var(--index) * 1.9);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.3s, background-color 0.3s;

                img {
                    width: 100%;
                    height: 100%;
                  }
            }
            
            .logo-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: calc(var(--index) * .2);

                .logo-maintitle {
                    font-size: calc(var(--index) * 1.1);
                    font-weight: 600;
                    line-height: calc(var(--index) * .85);
                }
                .logo-subtitle {
                    font-size: calc(var(--index) * .45);
                    line-height: calc(var(--index) * .4);
                    letter-spacing: calc(var(--index) * .1);
                    color: $akcent;
                }
            }
            
        }

        .sidenav__button {
            padding: calc(var(--index) * .7);
            border-bottom: calc(var(--index) * .1) solid rgb(39, 39, 39);
            font-size: calc(var(--index) * .6);
            display: flex;
            width: 100%;

            button {
                background: linear-gradient(to right, rgb(254, 144, 20), $akcent);
                padding: calc(var(--index) * .7)  calc(var(--index) * 1.3);
                border-radius:  calc(var(--index) * .3);
            }
        }

        .sidenav-menu {
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 93%;

            &__elem {
                display: flex;
                gap: calc(var(--index) * .9);
                padding: calc(var(--index) * .6);
                border-bottom: calc(var(--index) * .1) solid rgb(39, 39, 39);

                .elem-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(var(--index) * 1);
                    height: calc(var(--index) * 1);

                    img {
                        width: 100%;
                        height: 100%;
                        filter: invert(80%);
                    }
                }

                .elem-title {
                    display: flex;
                    align-items: center;
                    font-size: calc(var(--index) * .55);
                }
            }
        }
    }
}

.account {
    position: absolute;
    right: calc(var(--index) * 2.5);
    top: calc(var(--index) * 1);
    z-index: 3;
    font-size: calc(var(--index) * .75);
    display: block;
    white-space: nowrap;
    word-break: normal;
    overflow-wrap: normal;
    hyphens: none;
    color: rgb(225, 225, 225);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.account::after {
    content: "⭢";
    padding: 0 0 0 calc(var(--index) * .3);
    line-height: calc(var(--index) * 1);
    position: absolute;
    transition: all .3s ease-in-out;
}
.account:hover::after {
    color: white;
    transform: translateX(calc(var(--index) * .6));
}

.menu {
    position: absolute;
    left: calc(var(--index) * 1.8);
    top: calc(var(--index) * 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--index) * 2.3);
    height: calc(var(--index) * 2.3);
    z-index: 3;
    display: none;
    transition: .3s cubic-bezier(0.98, 0.1, 0.3, 0.9);

    img {
        width: 100%;
        height: 100%;
        filter: invert(80%);
        pointer-events: none;
    }
}

.account-icon {
    position: absolute;
    right: calc(var(--index) * 1.8);
    top: calc(var(--index) * 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--index) * 2);
    height: calc(var(--index) * 2);
    z-index: 3;
    display: none;

    img {
        width: 100%;
        height: 100%;
        filter: invert(80%);
        pointer-events: none;
    }
}

.button-close {
    position: fixed;
    left: calc(var(--index) * 1.8);
    top: calc(var(--index) * 1);
    scale: 0;
    transition: 0.8s cubic-bezier(0.98, 0.1, 0.3, 0.9);
    background-color: #1E1E20;
    z-index: 4;
    height: calc(var(--index) * 1.7);
    width: calc(var(--index) * 1.7);
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .line {
        position: relative;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .line-left, .line-right {
            background-color: #ffffff;
            position: absolute;
            transform: rotate(45deg);
            height: calc(var(--index) * 0.1);
            width: 100%;
            border-radius: 2em;
        }
        
        .line-right {
            transform: rotate(-45deg);
        }
    }
}

// ----------------------------------------------------------------------------

.main {
    width: 100%;
    padding: 0 0 0 calc(var(--index) * 11.5);
    position: relative;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        grid-column: 2;
        padding: 0 0 0 calc(var(--index) * 2);

        .main-section::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(263deg, rgba(0,212,255,0) 61%, rgba(30,30,32,1) 87%), 
                        linear-gradient(180deg, rgba(0,212,255,0) 58%, rgba(30,30,32,1) 99%),
                        linear-gradient(315deg, rgba(0,212,255,0) 0%, rgba(30,30,32,1) 95%),
                        linear-gradient(133deg, rgba(0,212,255,0) 64%, rgba(30,30,32,1) 99%),
                        linear-gradient(212deg, rgba(0,212,255,0) 62%, rgba(30,30,32,1) 98%);
            z-index: 0;
        }

        .main-section {
            width: 100%;
            background-image: url(../images/bg.png);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            // padding: calc(var(--index) * 12);

            &__title {
                display: flex;
                flex-direction: column;
                font-family: "Manrope", serif;
                padding: calc(var(--index) * 8) 0 calc(var(--index) * 8) 0;
                gap: calc(var(--index) * 1);
                z-index: 2;

                .title-maintitle {
                    font-size: calc(var(--index) * 2);
                    font-weight: 700;
                    line-height: calc(var(--index) * 1.7);

                    span {
                        color: $akcent;
                    }
                }
                .title-subtitle {
                    width: 40%;
                    opacity: 80%;
                    font-size: calc(var(--index) * .65);
                }

                @media (max-width: 560px) {

                    width: 85%;

                    .title-subtitle {
                        width: 60%;
                    }
                }
            }
        }

// ----------------------------------------------------------------------------

        .advantages {
            width: 100%;
        
            .container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: calc(var(--index) * 1);
                padding: 0 calc(var(--index) * 2) 0 0;
        
                .advant-title {
                    font-size: calc(var(--index) * 1.3);
                    font-weight: 600;
                }

                .advant-cards {
                    display: flex;
                    gap: calc(var(--index) * 1.5);

                    //rabotai
                    &__elem {
                        display: flex;
                        justify-content: flex-start;
                        width: 33%;
                        gap: calc(var(--index) * 1);
                        background-color: #171717;
                        padding: calc(var(--index) * 1);
                        border-radius: calc(var(--index) * .6);

                        .elem-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-shrink: 0;
                            justify-self: flex-start;
                            width: calc(var(--index) * 2);
                            height: calc(var(--index) * 2);
                            border-radius: 50%;
                            background: linear-gradient(to right, rgb(254, 144, 20), $akcent);
        
                            img {
                                width: 50%;
                                height: 50%;
                                filter: invert(80%);
                            }
                        }

                        .elem-description {
                            display: flex;
                            flex-direction: column;
                            gap: calc(var(--index) * .5);
                            font-size: calc(var(--index) * .4);
                            padding: calc(var(--index) * .2) 0 0;
                            
                            &-title {
                                font-size: calc(var(--index) * .7);
                                font-weight: 600;
                            }

                            &-text {
                                font-size: calc(var(--index) * .65);
                                opacity: 60%;
                                width: 90%;
                            }
                        }
                    }
                }

                @media (max-width: 1440px) {

                    .advant-cards {
                        flex-wrap: wrap;
    
                        &__elem {
                            width: 47%;

                            .elem-description-text {
                                font-size: calc(var(--index) * .57);
                            }
                        }

                        &__elem:nth-child(3) {
                            width: 100%;
                        }
                    }
                }
                @media (max-width: 560px) {

                    .advant-cards {
    
                        &__elem {
                            width: 100%;

                            .elem-description-text {
                                font-size: calc(var(--index) * .65);
                            }
                        }
                    }
                }
                @media (max-width: 425px) {

                    .advant-cards {
    
                        &__elem {
                            width: 100%;

                            .elem-description-title {
                                font-size: calc(var(--index) * .9);
                            }

                            .elem-description-text {
                                font-size: calc(var(--index) * .8);
                            }
                        }
                    }
                }
            }
        }

// ----------------------------------------------------------------------------

        .tarif {
            width: 100%;
            padding: calc(var(--index) * 4) 0 0;

            .container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 calc(var(--index) * 2) 0 0;

                .tarif-title {
                    font-size: calc(var(--index) * 1.3);
                    font-weight: 600;
                    width: 60%;
                    margin: 0 0 calc(var(--index) * -.8) 0;

                    .title-subtitle {
                        font-size: calc(var(--index) * .65);
                        padding: calc(var(--index) * .8) 0 0;
                        font-weight: normal;
                        line-height: calc(var(--index) * .9);
                        opacity: 0.6;
                    }
                }

                .tarif-table {
                    width: 100%;
                    justify-content: center;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;

                    table {
                        width: 100%;

                        th {
                            text-align: center;
                            position: relative;
                            z-index: 1;
                            transform: translateY(calc(var(--index) * 2));
                            padding: 0 0 0 calc(var(--index) * 1.2);

                            p {
                                background-color: #171717;
                                padding: calc(var(--index) * .2) calc(var(--index) * .8);
                                width: max-content;
                                margin: 0 auto;
                                text-align: center;
                                font-size: calc(var(--index) * 1.06);
                                font-weight: 400;
                                line-height: calc(var(--index) * 2.2);
                                letter-spacing: calc(var(--index) * -.07);
                                border-radius: calc(var(--index) * .6);
                            }
                        }
                        th:first-of-type {
                            padding: 0;
                        }

                        tbody {
                            td {
                                padding: calc(var(--index) * .6) 0 0 calc(var(--index) * 1.2);
                            }
                            .type {
                                padding: calc(var(--index) * .6) 0 0 0;
                            }
    
                            .wrap {
                                background-color: #242427;
                                border-radius: calc(var(--index) * .6);
        
                                p {
                                    display: block;
                                    white-space: nowrap;
                                    word-wrap: normal;
                                    word-break: normal;
                                    overflow-wrap: normal;
                                    -webkit-hyphens: none;
                                    -moz-hyphens: none;
                                    hyphens: none;
                                    color: white;
                                    text-align: center;
                                    font-family: var(--mp400);
                                    font-size: calc(var(--index) * .85);
                                    font-weight: 400;
                                    line-height: calc(var(--index) * 2.5);
                                    letter-spacing: calc(var(--index) * -.02);
                                    opacity: 0.7;
                                    padding: calc(var(--index) * .52) calc(var(--index) * .9);
                                }
                            }
                        }

                        tbody:first-of-type {
                            p {
                                padding: calc(var(--index) * 1.4) calc(var(--index) * .9) calc(var(--index) * .52);
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 425px) {
            .tarif {
                .container {
                    .tarif-title {
                        width: 90%;

                        .title-subtitle {
                            font-size: calc(var(--index) * .8);
                            line-height: calc(var(--index) * 1);
                        }
                    }
                }
            }
        }

        // ----------------------------------------------------------------------------

        .news {
            width: 100%;
            padding: calc(var(--index) * 4) 0 0;

            .container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 calc(var(--index) * 2) 0 0;
                gap: calc(var(--index) * 2);

                .news-title {
                    font-size: calc(var(--index) * 1.3);
                    font-weight: 600;
                    width: 60%;
                    margin: 0 0 calc(var(--index) * -.8) 0;
                    
                    .title-subtitle {
                        font-size: calc(var(--index) * .65);
                        padding: calc(var(--index) * .8) 0 0;
                        font-weight: normal;
                        line-height: calc(var(--index) * .9);
                        opacity: 0.6;
                    }
                }

                .news-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &__frontnews {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: calc(var(--index) * 2.2);
                        

                        .frontnews-image {
                            grid-column: 1;
                            text-align: center;
                            background-image: url(../images/008a6ac2-5e3b-4d8a-92be-ebadaa6efa2a.webp);
                            background-position: center;
                            background-size: cover;
                            display: flex;
                            justify-content: center;
                            border-radius: calc(var(--index) * .6);
                            box-shadow: 0 0 calc(var(--index) * 2)  #000000;

                            &-title {
                                width: 80%;
                                font-size: calc(var(--index) * 1.5);
                                letter-spacing: 0;
                                font-weight: 600;
                                align-self: flex-end;
                                margin: 0 0 calc(var(--index) * 2.6) 0;
                                padding: calc(var(--index) * 1) calc(var(--index) * 1) calc(var(--index) * 1.7);
                                background-color: blur(30px);
                                border: calc(var(--index) * .2) solid $akcent;
                                backdrop-filter: blur(calc(var(--index) * .3));
                                border-radius: calc(var(--index) * .6);
                            }
                        }

                        .frontnews-info {
                            padding: calc(var(--index) * .6) 0 calc(var(--index) * 1.7) 0;

                            .container {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: calc(var(--index) * .9);
                                padding: 0;

                                .frontnews-info-date {
                                    display: flex;
                                    align-items: center;
                                    gap: calc(var(--index) * .5);
    
                                    .date-icon {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        width: calc(var(--index) * .8);
                                        height: calc(var(--index) * .8);
                    
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            filter: invert(80%);
                                            opacity: .5;
                                        }
                                    }
    
                                    .date-title {
                                        opacity: .5;
                                        font-size: calc(var(--index) * .5);
                                    }
                                }
    
                                .frontnews-info-title {
                                    font-size: calc(var(--index) * 1.1);
                                    width: 60%;
                                    font-weight: 600;
                                }
    
                                .frontnews-info-text {
                                    font-size: calc(var(--index) * .65);
                                    width: 90%;
                                    opacity: 0.7;
                                    line-height: calc(var(--index) * .9);
                                }
    
                                .frontnews-info-button {
                                    background: linear-gradient(to right, rgb(254, 144, 20), $akcent);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    font-weight: 600;
                                    font-size: calc(var(--index) * .65);
                                }
    
                                .frontnews-info-pagination {
                                    padding: calc(var(--index) * 2.5) 0 0;
                                }
                            }
                        }
                    }
                }

                .news-items {
                    display: flex;
                    grid-column: span 3;
                    flex-direction: row;
                    gap: calc(var(--index) * 1.5);

                    &__elem {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: calc(var(--index) * .55);

                        .elem-image {
                            width: 100%;
                            text-align: center;
                            background-image: url(../images/008a6ac2-5e3b-4d8a-92be-ebadaa6efa2a.webp);
                            background-position: center;
                            background-size: cover;
                            display: flex;
                            justify-content: center;
                            border-radius: calc(var(--index) * .6);
                            box-shadow: 0 0 calc(var(--index) * 1)  #000000;
                            
                            &-title {
                                width: 80%;
                                font-size: calc(var(--index) * .9);
                                letter-spacing: 0;
                                font-weight: 600;
                                align-self: flex-end;
                                margin: calc(var(--index) * 3.5) 0 calc(var(--index) * 1);
                                padding: calc(var(--index) * .4) calc(var(--index) * 1) calc(var(--index) * .7);
                                background-color: blur(30px);
                                border: calc(var(--index) * .12) solid $akcent;
                                backdrop-filter: blur(calc(var(--index) * .3));
                                border-radius: calc(var(--index) * .6);
                            }
                        }

                        .elem-date {
                            display: flex;
                            align-items: center;
                            align-self: flex-start;
                            justify-content: flex-start;
                            gap: calc(var(--index) * .5);

                            .date-icon {
                                flex-shrink: 0;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                align-self: center;
                                width: calc(var(--index) * .8);
                                height: calc(var(--index) * .8);
            
                                img {
                                    width: 100%;
                                    height: 100%;
                                    filter: invert(80%);
                                    opacity: .5;
                                }
                            }

                            .date-title {
                                opacity: .5;
                                font-size: calc(var(--index) * .5);
                            }
                        }

                        .elem-title {
                            font-size: calc(var(--index) * .8);
                            font-weight: 600;
                        }

                        .elem-text {
                            font-size: calc(var(--index) * .65);
                            opacity: 0.7;
                            line-height: calc(var(--index) * .9);
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                }

                @media (max-width: 1440px) {

                    .news-content {
                        &__frontnews {
                            .frontnews-info {
                                .container {
                                    .frontnews-info-title {
                                        width: 90%;
                                    }
                                }
                            }
                        }
                    }

                    .news-items {
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .news-items__elem {
                            width: 47%;

                            .elem-image {


                                &-title {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
                @media (max-width: 620px) {

                    .news-content {
                        &__frontnews {
                            .frontnews-info {
                                .container {
                                    .frontnews-info-title {
                                        width: 100%;
                                    }
                                    
                                    .frontnews-info-text {
                                        width: 100%;
                                    }

                                    .frontnews-info-pagination {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                @media (max-width: 560px) {

                    .news-content {
                        &__frontnews {
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                            gap: calc(var(--index) * 1.5);

                            .frontnews-image {

                                &-title {
                                    width: 70%;
                                    margin: calc(var(--index) * 7) 0 calc(var(--index) * 2.6) 0;
                                }
                            }

                            .frontnews-info {
                                padding: 0;

                                .container {
                                    .frontnews-info-title {
                                        width: 70%;
                                    }
                                    
                                    .frontnews-info-text {
                                        width: 90%;
                                    }

                                    .frontnews-info-pagination {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }

                    .news-items {
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .news-items__elem {
                            width: 45%;
                        }
                    }
                }
                @media (max-width: 425px) {  
                    
                    .news-content {
                        &__frontnews {
                            .frontnews-info {
                                .container {
                                    .frontnews-info-title {
                                        width: 70%;
                                    }
                                    
                                    .frontnews-info-text {
                                        width: 100%;
                                        font-size: calc(var(--index)* .8);
                                    }

                                    .frontnews-info-pagination {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                        
                    .news-title {
                        width: 90%;

                        .title-subtitle {
                            font-size: calc(var(--index)* 0.8);
                        }
                    }

                    .news-items {
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .news-items__elem {
                            width: 100%;

                            .elem-text {
                                font-size: calc(var(--index)* .8);
                            }
                            .elem-title {
                                width: 60%;
                                font-size: calc(var(--index)* .9);
                            }
                        }
                    }
                }
            }
        }

// ----------------------------------------------------------------------------

        .reviews {
            width: 100%;
            padding: calc(var(--index) * 4) 0 0;
        
            .container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: calc(var(--index) * 1);
                padding: 0 calc(var(--index) * 2) 0 0;        

                .review-description {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    &__title {
                        font-size: calc(var(--index) * 1.3);
                        font-weight: 600;

                        .title-subtitle {
                            font-size: calc(var(--index) * .65);
                            padding: calc(var(--index) * .8) 0 0;
                            font-weight: normal;
                            line-height: calc(var(--index) * .9);
                            opacity: 0.6;
                            width: 70%;
                        }
                    }

                    &__button {
                        margin: 0;
                        align-self: flex-end;
                        padding: 0 0 calc(var(--index) * .3);
                        background: linear-gradient(to right, rgb(254, 144, 20), $akcent);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 600;
                        font-size: calc(var(--index) * .65);
                        display: block;
                        white-space: nowrap;
                        word-wrap: normal;
                        word-break: normal;
                        overflow-wrap: normal;
                        -webkit-hyphens: none;
                        -moz-hyphens: none;
                        hyphens: none;
                    }
                }


                .review-cards {
                    display: flex;
                    justify-content: space-between;
                    gap: calc(var(--index) * 1.5);

                    &__elem {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        gap: calc(var(--index) * 1);
                        background-color: #171717;
                        padding: calc(var(--index) * 1);
                        border-radius: calc(var(--index) * .6);

                        .elem-info {
                            display: flex;
                            justify-content: space-between;

                            &-profile {
                                display: flex;
                                align-items: center;
                                gap: calc(var(--index) * .7);

                                .profile-logo {
                                    background-image: url(../images/profile-photo.jpg);
                                    background-position: center;
                                    background-size: 125%;
                                    min-width: calc(var(--index) * 2);
                                    height: calc(var(--index) * 2);
                                    border-radius: 50%;
                                    position: relative;
                                }
                                .profile-logo::after {
                                    content: "❛❛";
                                    position: absolute;
                                    font-family:'Times New Roman', Times, serif;
                                    font-size: calc(var(--index) * 2.2);
                                    right: -10%;
                                    bottom: -78%;
                                    letter-spacing: calc(var(--index) * -.1);
                                    color: $akcent;
                                    font-weight: 600;
                                }

                                .profile-data {

                                    .data-title {
                                        font-size: calc(var(--index) * .6);
                                        font-weight: 600;
                                    }

                                    .data-mark {
                                        font-size: calc(var(--index) * .9);
                                        line-height: calc(var(--index) * 1);
                                        
                                        span {
                                            color: #FD8D14;
                                        }
                                    }
                                }
                            }

                            &-date {
                                opacity: .5;
                                font-size: calc(var(--index) * .5);
                            }
                        }

                        .elem-text {
                            font-size: calc(var(--index) * .63);
                            line-height: calc(var(--index) * 1);
                            opacity: 60%;
                        }
                    }
                }

                @media (max-width: 425px) {

                    .review-description {
                        &__title {
    
                            .title-subtitle {
                                font-size: calc(var(--index)* .8);
                                width: 80%;
                            }

                            &__button {
                                font-size: calc(var(--index)* .8);
                            }
                        }
                    }

                    .review-cards  {
                        &__elem {
                            .elem-info {

                            }
                            .elem-text {
                                font-size: calc(var(--index) *.8);
                                line-height: calc(var(--index) * 1.1);
                            }
                        }
                    }
                }
            }

            @media (max-width: 560px) {
                .review-cards {
                    flex-wrap: wrap;

                    .review-cards__elem {
                        width: 100%;
                    }
                }
            }
        }

        // ---------------------------------------------------------------------------

        .about {
            width: 100%;
            padding: calc(var(--index) * 4) 0 0;
        
            .container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: calc(var(--index) * 1);
                padding: 0 calc(var(--index) * 2) 0 0;

                .about-title {
                    font-size: calc(var(--index) * 1.3);
                    font-weight: 600;
                    width: 50%;
                }

                .about-content {
                    display: flex;
                    justify-content: space-between;
                    gap: calc(var(--index) * 3.5);

                    &__elem {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        gap: calc(var(--index) * .5);
                        border-radius: calc(var(--index) * .6);

                        .content-text {
                            font-size: calc(var(--index) * .65);
                            line-height: calc(var(--index) * 1.1);
                            opacity: 60%;

                            ul {
                                padding: 0 0 0 calc(var(--index) * .7);
                                
                                li {
                                    color: $akcent;
                                    font-size: calc(var(--index) * .7) ;

                                    span {
                                        color: white;
                                        font-size: calc(var(--index) * .65) ;
                                    }
                                }
                            }
                        }

                        .content-title {
                            font-size: calc(var(--index) * .85);
                            font-weight: 600; 
                            padding: calc(var(--index) * .7) 0 0;
                        }

                        .content-title:first-of-type {
                            padding: 0;
                        }
                    }
                }
            }
        }

        @media (max-width: 560px) {
            .about {
                .container {
                    .about-title {
                        width: 85%;
                    }

                    .about-content {
                        flex-direction: column;
                        gap: calc(var(--index) * 2);

                        &__elem {
                            width: 100%;

                            .content-text {
                                font-size: calc(var(--index)* .8);
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 425px) {
            .about {
                .container {
                    .about-content {
                        flex-direction: column;
                        gap: calc(var(--index) * 2);

                        &__elem {
                            width: 100%;
                            
                            .content-text {
                                font-size: calc(var(--index)* .8);

                                ul {
                                    padding: 0 0 0 calc(var(--index) * .7);
                                    
                                    li {
                                        color: $akcent;
                                        font-size: calc(var(--index) * .7) ;
    
                                        span {
                                            color: white;
                                            font-size: calc(var(--index) * .8) ;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    margin: calc(var(--index) * 4) 0 0;
    padding: 0 0 calc(var(--index) * 2) calc(var(--index) * 11.5);
    background-color: #171717;
    border-top: calc(var(--index) * .1) solid rgb(39, 39, 39);

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, min-content);

        .block {
            display: flex;
            flex-direction: column;
            gap: calc(var(--index) * .7);
            padding: calc(var(--index) * 1.5);

            &-title {
                font-size: calc(var(--index) * .65);
                font-weight: 600;
                display: block;
                white-space: nowrap;
                word-wrap: normal;
                word-break: normal;
                overflow-wrap: normal;
                -webkit-hyphens: none;
                -moz-hyphens: none;
                hyphens: none;
            }
            
            a {
                font-size: calc(var(--index) * .52);
                opacity: 0.7;
            }

            .links {
                display: flex;
                gap: calc(var(--index) * .35);

                &__elem {
                    width: calc(var(--index) * 1.7);
                    height: calc(var(--index) * 1.7);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s, background-color 0.3s;
    
                    img {
                        width: 45%;
                        height: 45%;
                        filter: invert(100%);
                      }
                    
                      &:hover {
                        transform: scale(1.1);
                      }
                }

                &__elem:nth-child(1) {
                    background-color: #A926AE;
                }
                &__elem:nth-child(2) {
                    background-color: #5181B8;
                }
                &__elem:nth-child(3) {
                    background-color: #4367B3;
                }
                &__elem:nth-child(4) {
                    background-color: #7487D5;
                }
            }
            
        }

        @media (max-width: 1725px) {

            .block {
                display: flex;
                flex-direction: column;

                padding: calc(var(--index) * 1.5) calc(var(--index) * 1);
            }
        }
        @media (max-width: 1200px) {

            .block {
                display: flex;
                flex-direction: column;
                padding: calc(var(--index) * 1.5) calc(var(--index) * .7);

                .links {
                    flex-wrap: wrap;
                }
            }
        }

        .footer__logo {
            .logo {
                display: flex;
                justify-content: flex-start;
                gap: calc(var(--index) * .4);
                
                .logo-image {
                    width: calc(var(--index) * 2.2);
                    height: calc(var(--index) * 1.9);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s, background-color 0.3s;
    
                    img {
                        width: 100%;
                        height: 100%;
                      }
                }

                .logo-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: calc(var(--index) * .2);
                display: block;
                white-space: nowrap;
                word-wrap: normal;
                word-break: normal;
                overflow-wrap: normal;
                -webkit-hyphens: none;
                -moz-hyphens: none;
                hyphens: none;
    
                    .logo-maintitle {
                        font-size: calc(var(--index) * 1.1);
                        font-weight: 600;
                        line-height: calc(var(--index) * .85);
                        display: block;
                        white-space: nowrap;
                        word-wrap: normal;
                        word-break: normal;
                        overflow-wrap: normal;
                        -webkit-hyphens: none;
                        -moz-hyphens: none;
                        hyphens: none;
                    }
                    .logo-subtitle {
                        font-size: calc(var(--index) * .45);
                        line-height: calc(var(--index) * .4);
                        letter-spacing: calc(var(--index) * .1);
                        color: $akcent;
                    }
                }
            }

            .copyright, .politicks {
                font-size: calc(var(--index) * .52);
                line-height: calc(var(--index) * .9);
                opacity: 40%;
            }
        }
    }
}



@media (max-width: 1025px) {

    .sidenav {
        transform: translateX(-105%);
        padding: calc(var(--index) * 3.6) 0 0;
    }
    .menu {
        display: flex;
    }
    .account {
        display: none;
    }
    .account-icon {
        display: flex;
    }

    .main {
        padding: 0;
    }

    .footer {
        padding: 0 0 calc(var(--index) * 2) 0;
    }
}

@media (max-width: 620px) {

    :root {
        --index: calc(1.12vw + 1.12vh);
    }

    .footer {

        .container {
            grid-template-columns: repeat(4, min-content);
            grid-template-rows: repeat(2, min-content);

            .block:nth-child(5) {
                padding: 0;
                padding: 0 calc(var(--index) * .7);

                .links {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    
    :root {
        --index: calc(1.42vw + 1.42vh);
    }

    .sidenav {
        width: 100%;
        transform: translateX(-105%);
        padding: calc(var(--index) * 3.6) 0 0;
    
        .container {
    
            .sidenav__logo {
                padding: calc(var(--index) * 1) calc(var(--index) * 7.3) calc(var(--index) * 1) calc(var(--index) * .7);
                gap: calc(var(--index) * .4);    
                width: 100%;            
            }
    
            .sidenav__button {
                padding: calc(var(--index) * 1) calc(var(--index) * 7.8) calc(var(--index) * 1) calc(var(--index) * .2);
                border-bottom: calc(var(--index) * .1) solid rgb(39, 39, 39);
                font-size: calc(var(--index) * .6);
                display: flex;
                width: 100%;
    
                button {
                    background: linear-gradient(to right, rgb(254, 144, 20), $akcent);
                    padding: calc(var(--index) * .7)  calc(var(--index) * 1.3);
                    border-radius:  calc(var(--index) * .3);
                }
            }
    
            .sidenav-menu {
                list-style: none;
                display: flex;
                flex-direction: column;
                width: 100%;
    
                &__elem {
                    display: flex;
                    gap: calc(var(--index) * .9);
                    padding: calc(var(--index) * 1);
                    border-bottom: calc(var(--index) * .1) solid rgb(39, 39, 39);
    
                    .elem-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: calc(var(--index) * 1);
                        height: calc(var(--index) * 1);
    
                        img {
                            width: 100%;
                            height: 100%;
                            filter: invert(80%);
                        }
                    }
    
                    .elem-title {
                        display: flex;
                        align-items: center;
                        font-size: calc(var(--index) * .55);
                    }
                }
            }
        }
    }

    .main {
        .container {
            .main-section {
        
                .title-subtitle {
                    font-size: calc(var(--index)* 0.8);
                    width: 80%;
                }
            }
        }
    }




    .footer {

        .container {
            grid-template-columns: repeat(3, min-content);
            grid-template-rows: repeat(2, min-content);

            .block:nth-child(4) {
                padding: 0;
                padding: 0 calc(var(--index) * .7);

                .links {
                    flex-wrap: wrap;
                }
            }
        }
    }
}